<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>@name's Home Page </title>
    <link rel="alternate" type="application/atom+xml" href="@root_path/?/feed/">
    <link rel="stylesheet" href="@root_path/public/docs/css/screen.css" type="text/css" media="screen">
  </head>
  <body>
    <div id="container">
      <h1 class="col three">
        <a href="@root_path">@name</a>
        <strong>@profession</strong>
      </h1>
      <hr>
      :navigation
      <div id="content" class="col eight">
	<h2>Welcome to Trinity University's Chemistry Club website!</h2><br />
	<iframe width="480" height="360" src="http://www.youtube.com/embed/0kjfxtZm7Ls" frameborder="0" allowfullscreen></iframe>
      </div>
      <hr>
      <p id="footer" class="col six">&copy; Copyright @name @current_year <a class="atom-rss" href="@root_path/?/feed/">RSS</a><br>
        <em>Content managed by <a href="http://www.staceyapp.com">stacey</a></em></p>
    </div>
  </body>
</html>